/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-light);
        color: var(--font-light-mode);
    }

    .link {
        color: var(--font-dark-mode);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: white;
    }


    .link {
        color: var(--font-white);
    }


    .social-icon__image {
        filter: invert(1);
    }
}

@media screen and (min-width: 400px) {
    .heading {
        font-size: var(--heading-size-medium);
    }

    .main-heading {
        font-size: var(--main-heading-size-medium);
    }

    .main {
        max-width: 85%;
    }

    .social-icon__image {
        width: 4rem;
    }
    
}

@media screen and (min-width: 550px) {
    .heading {
        font-size: var(--heading-size-full);
    }

    .main-heading {
        font-size: var(--main-heading-size-full);
    }

    .main {
        max-width: 70%;
    }

    .social-icon__image {
        width: 4.5rem;
    }
}
