:root {
  /* Font styling */
  --font-light: 300;
  --font-medium: 500;

  --background-dark: #0d0f1f;
  --background-light: #e0e0e0;

  --background-card-dark-mode: #311e49;
  --background-card-light-mode: #f1f1e6;
  --background-card-light-mode-hover: #f7f7f0;
  --background-card-dark-mode-hover: #442965;
  
  --font-dark-mode: var(--background-light);
  --font-light-mode: #1f1f1f;

  --light-shadow-light-mode: #1f1f1f79;
  --light-shadow-dark-mode: #e0e0e0a2;

  --main-heading-size-full: 3rem;
  --main-heading-size-medium: 2.5rem;
  --main-heading-size-mobile: 2rem;

  --heading-size-full: 1.8rem;
  --heading-size-medium: 1.6rem;
  --heading-size-mobile: 1.4rem;

  --transition: 0.4s ease-in-out;
  --socials-margin: 0 1rem 0 1rem;

  --footer-font-size: 1rem;

  --list-item-margin-default: 0 1rem 0 1rem;
}

.page {
  margin: 0;
  padding: 0;
  text-align: justify;
  font: var(--font-light) 1.2rem "Open Sans", sans-serif;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}

.main {
  align-self: center;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  flex-grow: 4;
  align-items: center;
  margin-top: 6rem;
}

.link {
  text-decoration: none;
}

.link--underline:hover {
  text-decoration: underline;
}

.heading {
  margin: 2rem 0 2rem 0;
  padding: 0;
  font-size: var(--heading-size-mobile);
  font-weight: var(--font-medium);
  transition: var(--transition);
  text-align: center;
}

.heading--no-top {
  margin: 0 0 2rem 0;
}

.heading--after-singular {
  margin: 1rem 0 2rem 0;
}

.paragraph {
  transition: var(--transition);
}

.paragraph--singular {
  margin: 0 0 1rem 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin: var(--list-item-margin-default);
}

.bold {
  font-weight: var(--font-medium);
}

.box {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
}

.header {
  top: 0;
  position: fixed;
  align-self: center;
  z-index: 1;
  width: 100%;
  line-height: 1;
}

.header--no-shadow {
  box-shadow: none;
}

.footer {
  margin: 1rem 0 1rem 0;
  font-size: var(--footer-font-size);
}

.main-heading {
  font-size: var(--main-heading-size-mobile);
  overflow-wrap: break-word;
}

.socials {
  min-width: 50%;
  max-width: 80%;
}

.socials__icon {
  margin: var(--socials-margin);
}

.social-icon__image {
  width: 3rem;
  transition: var(--transition);
}

.profile-picture {
  width: 10rem;
  display: flex;
  /* clip-path: circle(5rem); */
  margin: 1rem 0 0 0;
  border: 5px solid white;
  border-radius: 50%;
}

.note {
  font-size: 0.95rem;
}

.note--margin-top {
  margin: 0.5rem 0 1rem 0;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  gap: 1.5rem 1.5rem;
  place-items: stretch;

  text-align: start;
  margin: 0 0 2rem 0;
}

.card {
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-content: center;
  transition: var(--transition);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card__description {
  margin: 0;
}

.card__image {
  border-radius: 1rem;
}
